<h1>Teacher: <%= @teacher.name %></h1>

<h2>Lectures: </h2>
<% @teacher.lectures.each do |lecture| %>
<h3><%= lecture.name %> </h3>

<h4>Students:</h4>
  <ul>
    <% lecture.students.each do |student| %>
      <li><%= link_to student.name, student %></li>
    <% end %> 
  </ul>

<%end%> 

<div class="navigation-links">

<%= link_to "Edit", edit_teacher_path(@teacher) %>
<%= link_to "Delete", @teacher, method: :delete, data: {confirm: "Are you sure?" } %>

<%= link_to "Back", teachers_path %>

</div>