<h1>Students</h1>

<% @students.each do |student| %>
  <hr> Name: <%= link_to student.first_name + " " + student.last_name, student %></br>
  Year: <%= student.grade %></br>
  Gender: <%= student.gender %></br>
  House: <%= link_to student.house.name, house_path(student.house.id) %></br>
  Image: <img src="<%= student.image %>" width: 100px/></br>
  <%= link_to 'Show', student %>
  <%= link_to 'Edit', edit_student_path(student) %>
  <%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<br>
<hr>
<%= link_to 'New Student', new_student_path %>
