<h1>Show all the Lectures!!</h1>

<% @lectures.each do |lecture| %>
  <div class="link"><%= link_to lecture.title, lecture %>
  <div><%= link_to "Edit lecture", edit_lecture_path(lecture)%>
<%= link_to "New lecture", new_lecture_path %>
<%= link_to 'destroy lecture', lecture, method: :delete, data: { confirm: "Are you sure you want to delete this lecture?"} %></div> 
<% end %>
</div>



<%= link_to "Back", lectures_path %>