<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= "Professor "+ @teacher.last_name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @teacher.image %>
</p>

<p>
  <strong>Spells:</strong></br>
  <% @teacher.teacher_skills.each do |skill| %>
  <% @spellid = skill.spell_id %>
  <%= Spell.find(@spellid).name %>,
  Level: <%= link_to skill.level, edit_teacher_skill_path(skill.id) %></br>
  <% end %>
  <%= link_to 'New Teacher Skill', new_teacher_skill_path %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
