<h1><%= @student.name %></h1>
<div class="link">lives in <%= link_to @student.house.name, @student.house %></div>

<% if @student.lectures %>
  <h2>Lectures: </h2>
  <% @student.lectures.each do |lecture| %>
    <h3><%= lecture.name %></h3>
  <% end %>
<% end %>


<p>list of spells</p>

<div class="navigation-links">

<%= link_to "Edit", edit_student_path(@student) %>

<%= link_to "Delete", @student, method: :delete, data: {confirm: "Are you sure?" } %>

<%= link_to "Back", students_path %>

</div>
