<h1><%= @student.name %></h1>
<% if @student.house %>
<div class="link">lives in <%= link_to @student.house.name, @student.house %></div>
<% end %>

<% if @student.lectures %>
  <h2>Lectures: </h2>
  <% @student.lectures.each do |lecture| %>
    <h3><%= lecture.name %></h3>
  <% end %>
<% end %>



  <%= form_for([@student, @student.skills.build]) do |f| %>
  
  <%= f.label :skill %>
  <%= collection_select(:student, :skill_id, Skill.all, :id, :name) %>

  <%= f.label :skill_level %>
  <%= f.select :skill_level, (1..10) %>

  <%= f.submit %>

  <% end %>


<h2>Skills:</h2>
  <% @student.skills.each do |skill| %>
    <%= link_to skill.spell.name, edit_skill_path(skill) %>
  <% end %>



<p>list of spells</p>

<div class="navigation-links">

<%= link_to "Edit", edit_student_path(@student) %>

<%= link_to "Delete", @student, method: :delete, data: {confirm: "Are you sure?" } %>

<%= link_to "Back", students_path %>

</div>
