<h1> <%= @student.name %></h1>
<div class="link">lives in <%= @student.house.name %></div>
<p>list of classes</p>
<p>list of spells</p>
<div>
<%= link_to "Edit", edit_student_path(@student) %>
<%= link_to "Delete", @student, method: :delete, data: {confirm: "are you sure? 'arry?"} %>

<%= link_to "Go Back, the Dementors are near", students_path%>
</div>