<h1>Show Lectures</h1>

<% @lectures.each do |lecture| %>
  <div class="link"><h2><%= link_to lecture.lecture_name, lecture %></h2>
  <div><%= link_to "Update lecture", edit_lecture_path(lecture)%> | 

<%= link_to 'Cancel lecture', lecture, method: :delete, data: { confirm: "Are you sure you want to delete this lecture?"} %></div> 
<% end %>
</div>

<div class="link"><h2><%= link_to "New lecture", new_lecture_path %></h2></div>


<h2><%= link_to "Back", lectures_path %></h2>