<%= form_for(@skill) do |f| %>

  <% if @skill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@skill.errors.count, "error") %>
      prohibited this skill from being saved:</h2>

      <ul>
      	<% @skill.errors.full_messages.each do |msg| %>
      	<li><%= msg%></li>
      	<% end %>
      </ul>
    </div>
  <% end %>

<h2><%= @skill.student.name %>'s <%= @skill.spell.name %> skill level:</h2>

<%= f.label :skill_level %>
<%= f.select :@skill.skill_level, (1..10)%>

<div class="actions">
  <%= f.submit %>
</div>

<% end %>